*{
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DFD1E0;
  
}
.sourah-page{
    width:100%;
    height: 97%;
    color :#fff;
}
.container{
    padding: 25px;
    text-align: center;
}
.header{
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    background-color: #905983;
    color: #fff;
    width:85%;
    height: 35px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
img {
    padding:15px;
    width: 90%;
    height: 90%;
    border-radius: 45px;
}
.write-name-header{
    font-size: 20px;
    text-align: right;
    margin-bottom: 15px;
    color: #905983;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

  input {
     padding:5px;
    border-radius: 10px;
    background-color: #905983;
    color: #fff;
    margin-bottom: 20px;
    font-size: 17px;
    border: none;
    height: 30px;


}
.btn-output{
    width :70px;
    margin-right: 15px;
    height: 40px;
    
}
form :nth-child(2){
    width:70%;
    text-align:right;
}
input[type="text"]::placeholder{
    color: #fff;
    text-align: right;
}
.information{
    background-color: #905983;
    padding: 15px;
    font-size: 17px;
    border-radius: 17px;
    margin: auto;
}
.information .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    margin-left: 100px;
    text-align: right;
}
.item span {
    margin-right: 10px;
    font-size: 18px;
}
.btn-back{
    margin-top: 25px;
    border:none;
    border-radius: 50px;
    width: 220px;
    height: 40px;
    font-size: 20px;
    background: #99668c;
    color: #fff;
}

/* Media query */
@media  screen and (min-width: 768px) {
    .write-name-header{
        margin-right: 8%;
        padding: 20px;
    }
    form{
        width: 100%;
        
    }
    .information{
        width:80%;
    } 
}

/*  */
@media screen and (min-width: 1024px) {
    body{
        overflow: hidden;
    }
    .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
        flex-direction: row-reverse;
    }
    
    .header{
        line-height: 40px;
         margin-left: 80px;
         width: 33rem;
         margin-top: 30px;

    }
    figure {
        padding:5px;
        width: 49%;
        height: 60%;
      
    }
    img{
        width: 80%;
        height: 70%;
    }
    .search-container{
        width: 40%;
        height: 50%;
        position: absolute;
        top:20%;
        left: 58%;
    }
   .information{
       width:90%;
       height: 80%;
   }
   .write-name-header{
       font-size: 25px;
       margin-left: -50px;
   }
   #sourah-name-input{
       width:22rem;
   }
 #search{
    width:9rem; 
   }
   .item{
       padding: 15px 0;
       font-size: 22px;
       text-align: right;
   }
  
 
    }
